<br>
<p class="p1" style='margin: 0;'>
  <cds-icon shape="check-circle" style="color: green"></cds-icon> Sua senha expira em X dias
</p>
<p class="p7" style='margin: 0;'>
  &nbsp; &nbsp; &nbsp; Redefinir senha
</p>
<cds-icon shape="check-circle" style="color: green"></cds-icon> Sem ameaças ativas<br>
<cds-icon shape="check-circle" style="color: green"></cds-icon> Os bancos de dados estão atualizados<br>
<cds-icon shape="check-circle" style="color: green"></cds-icon> Os componentes principais de proteção estão em
execução<br>
<br>
<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>
      <cds-icon shape="shield" size='15'></cds-icon>
      Recomendacões
    </clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>

      <div class="card" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card-block">
          <div class="card-text">
            ...
          </div>
        </div>
      </div>

      <div class="card" style="margin-top: 20px; margin-bottom: 20px">
        <div class="contain">
          <div class="left">
            <cds-icon shape="info-standard" size='75'></cds-icon>
          </div>
          <div class="right">
            <button class="btn btn-primary btn-sm">Ignorar</button> <br>
            <p class="p7" style='margin: 0;'>
              Corrija-o localmente no dispositivo
            </p>
          </div>
          <div class="filler">
            <div class="card-media-description">
              <span class="card-media-title">
                <h4><b>Configurar o backup e restauração </b></h4>
              </span>
              <span class="card-media-text">
                <p class="p7" style='margin: 0;'>
                  Inicie a criação de cópias de backup de seus arquivos confidenciais para assegurar que eles sejam
                  armazenados com segurança.
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>

    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>
      <cds-icon shape="applications" size='15'></cds-icon>
      Aplicativos Instalados
    </clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
