<br>
<div class="card-media-block">
  <div class="icon-setting">
    <cds-icon shape="history" size='75'></cds-icon>
  </div>
  <div class="card-media-description">
    <span class="card-media-title">
      <h4><b>Logs do Sistema: </b> Desativado</h4>
    </span>
    <span class="card-media-text">
      Exibe os logs de cada página.
    </span>
  </div>
  <div class="icon-setting-button">
    <clr-toggle-container>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle name="options" required value="option1" [(ngModel)]="options" />
        <label>&nbsp;</label>
      </clr-toggle-wrapper>
      <clr-control-helper>&nbsp;</clr-control-helper>
    </clr-toggle-container>
  </div>
</div>

<div class="card-divider" style="margin-top: 10px; margin-bottom: 10px;"></div>
