.card-media-block {
  height: 75px;
}

.icon-setting {
  min-width: 100px;
  max-height: 50px;
  position: relative;
}

.card-media-description {
  width: -webkit-fill-available;
}

.card-media-title h4 {
  margin-top: 15px;
}
