<table class="table table-vertical table-compact table-noborder">
  <tbody>
    <tr><th colspan="2">Dependências</th></tr>
    <tr>
      <th>Angular</th>
      <td>{{ packagejson.dependencies?.['@angular/core'] }}</td>
    </tr>
    <tr>
      <th>Clarity</th>
      <td>{{ packagejson.dependencies?.['@clr/angular'] }}</td>
    </tr>
    <tr>
      <th>Apollo</th>
      <td>{{ packagejson.dependencies?.['apollo-angular'] }}</td>
    </tr>
    <tr>
      <th>GraphQL</th>
      <td>{{ packagejson.dependencies?.['graphql'] }}</td>
    </tr>
    <tr>
      <th>RxJS</th>
      <td>{{ packagejson.dependencies?.['rxjs'] }}</td>
    </tr>
    <tr>
      <th>Zone.js</th>
      <td>{{ packagejson.dependencies?.['zone.js'] }}</td>
    </tr>
    <tr>
      <th>Bootstrap</th>
      <td>{{ packagejson.dependencies?.['bootstrap'] }}</td>
    </tr>
  </tbody>
</table>
