.container-column {
  display: flex;
  flex-flow: column;
  height: 100%;

  .container-fixed {
    margin: 10px !important;
    max-height: 24px;
    flex: 1 1 auto;
  }

  .container-content {
    flex: 1 1 auto;
    min-width: 0;
  }
}

.container-row {
  display: flex;
  flex-flow: row;
  height: 100%;

  .container-fixed {
    margin: 10px !important;
    max-height: 24px;
    flex: 1 1 auto;
  }

  .container-content {
    flex: 1 1 auto;
    min-width: 0;
  }
}
