<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div>
        <h5>Preferências de Notificações</h5>
        <p style="margin: 0;">Selecione as notificações que deseja receber.</p>
        <hr style="margin-bottom: 25px; margin-top: 25px;" />

        <p style="margin: 0;"><b>Segurança</b></p>
        <p style="margin: 0; margin-bottom: 15px;">Controle os alertas de segurança que você receberá.</p>

        <div class="card" style="margin: 0;">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title"><h4>Unusual activity notifications</h4></span>
              <span class="card-media-text">Donec in quam sed urna bibendum tincidunt quis mollis mauris.</span>
            </div>
            <div class="icon-setting-button">
              <clr-toggle-container>
                <clr-toggle-wrapper>
                  <input type="checkbox" clrToggle name="options" required value="option1" [(ngModel)]="options" />
                  <label>&nbsp;</label>
                </clr-toggle-wrapper>
                <clr-control-helper>&nbsp;</clr-control-helper>
              </clr-toggle-container>
            </div>
          </div>
        </div>

        <div class="card" style="margin: 0;">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title"><h4>Unauthorized financial activity</h4></span>
              <span class="card-media-text">Fusce lacinia elementum eros, sed vulputate urna eleifend nec.</span>
            </div>
            <div class="icon-setting-button">
              <clr-toggle-container>
                <clr-toggle-wrapper>
                  <input type="checkbox" clrToggle name="options" required value="option1" [(ngModel)]="options" />
                  <label>&nbsp;</label>
                </clr-toggle-wrapper>
                <clr-control-helper>&nbsp;</clr-control-helper>
              </clr-toggle-container>
            </div>
          </div>
        </div>

        <hr style="margin-bottom: 25px; margin-top: 25px;" />

        <p style="margin: 0;"><b>Sistema</b></p>
        <p style="margin: 0; margin-bottom: 15px;">Habilite os alertas de sistema que deseja receber.</p>

        <div class="card" style="margin: 0;">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title"><h4>Notifique-me sobre correções e atualizações do sistema.</h4></span>
              <span class="card-media-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </div>
            <div class="icon-setting-button">
              <clr-toggle-container>
                <clr-toggle-wrapper>
                  <input type="checkbox" clrToggle name="options" required value="option1" [(ngModel)]="options" />
                  <label>&nbsp;</label>
                </clr-toggle-wrapper>
                <clr-control-helper>&nbsp;</clr-control-helper>
              </clr-toggle-container>
            </div>
          </div>
        </div>

        <div class="card" style="margin: 0;">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title"><h4>Notifique-me sobre as manutenções do sistema.</h4></span>
              <span class="card-media-text">Nulla et tincidunt sapien. Sed eleifend volutpat elementum.</span>
            </div>
            <div class="icon-setting-button">
              <clr-toggle-container>
                <clr-toggle-wrapper>
                  <input type="checkbox" clrToggle name="options" required value="option1" [(ngModel)]="options" />
                  <label>&nbsp;</label>
                </clr-toggle-wrapper>
                <clr-control-helper>&nbsp;</clr-control-helper>
              </clr-toggle-container>
            </div>
          </div>
        </div>

        <div class="card" style="margin: 0;">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title"><h4>Notifique-me sobre expiração de acessos e recursos.</h4></span>
              <span class="card-media-text">Donec in quam sed urna bibendum tincidunt quis mollis mauris.</span>
            </div>
            <div class="icon-setting-button">
              <clr-toggle-container>
                <clr-toggle-wrapper>
                  <input type="checkbox" clrToggle name="options" required value="option1" [(ngModel)]="options" />
                  <label>&nbsp;</label>
                </clr-toggle-wrapper>
                <clr-control-helper>&nbsp;</clr-control-helper>
              </clr-toggle-container>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
